.cart-container {
    padding: 0px 20px;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0px auto;
    color: white;
}

.cart-header-nav-wrapper {
    padding: 25px 0px;
}

.cart-content-wrapper {
    padding: 15px 0px;
    gap: 15px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cart-list-container {
    flex: 1;
    max-height: 70vh;
    border-radius: 8px;
    padding: 0px 15px;
    overflow-y: scroll;
}

.cart-list-title {
    font-size: 26px;
    padding-bottom: 35px;
    color: var(--rec-text-color-5);
}

.cart-list-title .sub-text {
    font-size: 14px;
    padding-left: 7px;
    color: var(--rec-text-color-3);
}

.cart-summary-container {
    width: 420px;
    border-radius: 8px;
    padding: 20px 15px;
    background-color: var(--rec-background-2);
}

.cart-summary-title {
    font-size: 26px;
    padding-bottom: 15px;
    color: var(--rec-text-color-5);
}

.cart-summary-item-wrapper {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.cart-summary-border {
    margin: 15px 0px;
    border: 1px solid var(--rec-border);
}

.cart-summary-item-wrapper .title {
    font-size: 16px;
    color: var(--rec-text-color-4);
}

.cart-summary-item-wrapper .value {
    font-size: 16px;
    font-weight: 600;
    color: var(--rec-text-color-4);
}

.cart-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--rec-border);
}

.cart-item-image-wrapper {
    width: 150px;
    height: 150px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--rec-background-2);
}

.cart-item-image-wrapper .image {
    width: 120px;
    height: 120px;
}

.cart-item-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 170px);
}

.cart-item-content-wrapper .title {
    font-size: 18px;
    color: var(--rec-text-color-5);
}

.cart-item-content-wrapper .cart-info-wrapper {
    padding: 10px 0px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.cart-item-content-wrapper .cart-info-wrapper .info-title {
    color: var(--rec-text-dark-2);
    font-size: 14px;
}

.cart-item-content-wrapper .cart-info-wrapper .info-text {
    color: var(--rec-text-color-5);
    font-size: 20px;
    font-weight: 600;
}

.cart-item-content-wrapper .cart-info-wrapper .info-text .discount {
    font-size: 12px;
    padding-left: 7px;
    color: var(--rec-highlight);
}

.cart-right-panel-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cart-delete-btn {
    color: var(--rec-text-color-4);
    margin-top: 5px;
    padding: 8px 10px;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s all ease-in-out;
    background-color: var(--rec-background-2);
}

.cart-delete-btn:hover {
    background-color: var(--rec-highlight);
    color: var(--rec-text-dark-1);
}

.cart-delete-btn:hover .icon {
    color: var(--rec-text-dark-1);
}

.cart-delete-btn .icon {
    width: 15px;
    height: 15px;
    transition: 0.3s all ease-in-out;
    color: var(--rec-text-color-4);
}

.cart-page-quantity-wrapper {
    padding: 10px;
    margin: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 6px;
    border: 1px solid var(--rec-border);
}

.cart-page-quantity-wrapper .icon {
    cursor: pointer;
    color: var(--rec-text-color-4);
    transition: 0.3s all ease-in-out;
}

.cart-page-quantity-wrapper .icon:hover {
    color: var(--rec-highlight);
}

.cart-page-quantity-wrapper .input {
    width: 40px;
    border: none;
    font-size: 18px;
    text-align: center;
    color: var(--rec-text-color-4);
    background-color: var(--rec-background);
}

.cart-page-quantity-wrapper .input:focus {
    outline: none;
}
