.header-container {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--rec-border);
}

.header-title a {
    color: var(--rec-text-color-5);
    text-decoration: none;
}

.header-right-panel {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-right-panel .cart-link {
    padding: 0px 15px;
    position: relative;
}

.header-right-panel .cart-link .cart-count {
    position: absolute;
    color: var(--rec-text-dark-1);
    top: -10px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    font-size: 12px;
    background-color: var(--rec-highlight);
}

.header-right-panel .cart-link a {
    width: 30px;
    height: 30px;
}

.header-right-panel .cart-link a .icon {
    color: var(--rec-text-color-5);
    text-decoration: none;
    width: 30px;
    height: 30px;
    transition: 0.3s all ease-in-out;
}

.header-right-panel .cart-link a .icon:hover {
    color: var(--rec-highlight);
}

.header-auth-btn {
    border-radius: 6px;
    padding: 10px 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: var(--rec-text-dark-1);
    background-color: var(--rec-highlight);
}

.header-link {
    width: 25px;
    height: 25px;
}

.header-link .icon {
    color: white;
    width: 25px;
    height: 25px;
}
