.home-container {
    padding: 0px 20px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0px auto;
    color: white;
}

.home-category-container {
    width: 240px;
}

.home-product-container {
    flex: 1;
}

.home-footer {
    width: 100%;
    margin-bottom: 30px;
}

.load-more-btn {
    display: block;
    margin: 0px auto;
    border: none;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: var(--rec-text-color-5);
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--rec-highlight-2);
}