:root {
  font-family: "Open Sans", sans-serif;
  --rec-background: #222222;
  --rec-background-2: rgba(74, 73, 73, 0.2);
  --rec-background-3: rgb(90, 89, 89);
  --rec-skeleton-background: #2e2d2d;
  --rec-skeleton-loader: rgba(108, 108, 108, 0.2);
  --rec-text-dark-1: #222222;
  --rec-text-dark-2: rgb(153 153 153);
  --rec-text-color-5: #FFFFFF;
  --rec-text-color-4: #dfdfdf;
  --rec-highlight: rgb(109, 237, 212);
  --rec-highlight-2: rgb(84, 193, 171);
  --rec-border: rgb(53, 52, 52);
  --rec-border-light: rgb(61, 61, 61);

  --rec-btn-disable: rgb(111, 110, 110);

  --rec-error-color: #cf0e1e;
  --rec-error-border: #f43040;
  --rec-danger-color: #842029;
  --rec-danger-background: #f8d7da;
  --rec-danger-border: #f5c2c7;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: var(--rec-background);
}

.img-fallback {
  width: 0px;
  height: 0px;
}

.main {
  min-height: 100vh;
}

.go-back-wrapper {
  display: inline-flex;
  gap: 4px;
  cursor: pointer;
  padding: 8px 8px;
  width: 90px;
  border-radius: 50px;
  border: 1px solid var(--rec-border);
  text-decoration: none;
  color: var(--rec-text-color-5);
  background-color: var(--rec-background-2);
  align-items: center;
  transition: 0.4s all ease-in-out;
}

.go-back-wrapper:hover {
  color: var(--rec-highlight);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.quantity-wrapper {
  margin: 15px 0px 15px 0px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-radius: 6px;
  border: 1px solid var(--rec-border);
}

.quantity-wrapper .icon {
  cursor: pointer;
  color: var(--rec-text-color-4);
  transition: 0.3s all ease-in-out;
}

.quantity-wrapper .icon:hover {
  color: var(--rec-highlight);
}

.quantity-wrapper .input {
  width: 70px;
  border: none;
  font-size: 18px;
  text-align: center;
  color: var(--rec-text-color-4);
  background-color: var(--rec-background);
}

.quantity-wrapper .input:focus {
  outline: none;
}
