.inline-message-container {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    margin: 15px 0px;
}

.inline-message-container.error {
    border: 2px solid var(--rec-danger-border);
    background-color: var(--rec-danger-background);
    color: var(--rec-danger-color);
}
