.product-filter-parent {
    display: block;
}

.product-filter-wrapper {
    padding: 25px 15px 0px 0px;
}

.product-filter-container {
    padding: 5px 0px;
}

.product-filter-header-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--rec-text-color-5);
}

.product-filter-header-title.loader {
    border-radius: 6px;
    height: 30px;
}

.product-filter-content {
    padding: 10px 0px;
}

.product-filter-content-item {
    display: flex;
    padding: 8px 0px;
    align-items: center;
}

.product-filter-content-item.loader {
    border-radius: 6px;
    margin: 10px 0px;
    height: 25px;
}

.product-filter-input-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-filter-checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: var(--rec-highlight);
}

.product-filter-label {
    margin-left: 10px;
    font-size: 15px;
    color: var(--rec-text-color-4);
}

.mobile-product-filter-container {
    position: fixed;
    display: none;
    color: var(--rec-text-color-5);
    width: 100%;
    padding: 10px 0px;
    background-color: var(--rec-background);
    border-top: 1px solid var(--rec-border);
    bottom: 0;
}

.mobile-product-filter-header-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
}

.mobile-product-filter-header-wrapper .title {
    font-size: 15px;
}

.mobile-product-filter-header-wrapper .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mobile-product-filter-item {
    padding: 10px 10px;
    width: 100%;
    bottom: 43px;
    position: fixed;
    z-index: 999;
    max-height: 400px;
    overflow-y: scroll;
    background-color: var(--rec-background-2);
}

@media screen and (max-width: 750px) {

    .product-filter-parent,
    .product-filter-loader {
        display: none;
    }

    .mobile-product-filter-container {
        display: block;
    }
}
