.search-wrapper {
    width: 100%;
    position: relative;
}

.search-input-wrapper {
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    border: 1px solid var(--rec-border);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.search-input-wrapper .search-input {
    height: 45px;
    width: 100%;
    flex: 1;
    border: 1.5px solid var(--rec-background-1);
    border-radius: 6px;
    padding: 0px 10px 0px 15px;
    font-size: 17px;
    color: var(--rec-color-5);
    background-color: var(--rec-background-1);
}

.search-input-wrapper .search-input::placeholder {
    font-weight: 500;
    font-size: 17px;
}

.search-input-wrapper .search-input:focus {
    outline: none;
}

.search-input-wrapper .search-loader {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rec-background-1);
}

.search-circle-loader {
    width: 25px;
    height: 25px;
    border: 4px solid var(--rec-background);
    border-radius: 50px;
    border-top: 4px solid var(--rec-highlight);
}

.search-input-wrapper .search-cancel {
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rec-background-1);
}

.search-input-wrapper .search-cancel:hover .icon {
    color: var(--rec-highlight);
}

.search-input-wrapper .search-cancel .icon {
    width: 17px;
    height: 17px;
    transition: 0.3s all ease-in-out;
}

.search-input-wrapper .search-icon {
    width: 35px;
    border-radius: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rec-highlight-2);
}

.search-dropdown-container {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 0px 0px;
    color: var(--rec-color-5);
    font-weight: 600;
    border-radius: 6px;
    z-index: 999;
    max-height: 250px;
    overflow-y: scroll;
    background-color: var(--rec-background-3);
}

.search-dropdown-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--rec-color-5);
}

.search-dropdown-item.active {
    border: 1px solid var(--rec-highlight) !important;
}

.search-dropdown-item:hover .title {
    color: var(--rec-highlight);
}

.search-dropdown-item.border {
    border-top: 1px solid var(--rec-border);
}

.search-dropdown-item .thumbnail {
    width: 35px;
    height: 35px;
}

.search-dropdown-item .thumbnail img {
    width: 35px;
    height: 35px;
}

.search-dropdown-item .title {
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}

.search-dropdown-item.active .title {
    color: var(--rec-highlight);
}
